apiVersion: v1
kind: Secret
metadata:
  name: secret
type: Opaque
data:
  DATABASE_PASSWORD: base64_database_password
  DATABASE_NAME: base64_database_name
  DATABASE_USER: base64_database_user
  DATABASE_HOST: base64_database_host
